{% extends 'base.html.twig' %}

{% block title %}Files index{% endblock %}

{% block body %}

<h1>Upload a file</h1>

{% for flashes in app.flashes %}
    {% for flash in flashes %}
        <p>{{ flash }}</p>
    {% endfor %}
{% endfor %}


{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Upload">
{{ form_end(form) }}

<h1>Files index</h1>

<ul>
    {% for file in files %}
        <li>
            <a href="{{ uploadsPath }}/{{ file.file }}" target="_blank">
                {{ file.file }}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
